/*importando fuente roboto de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/*variables para diseño*/
:root{
    --verde-fuerte: #022422;
    --verde-claro: #E8FFE6;
    --blanco: #fff;
    --fuente-principal: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);    
}

/*
para roboto normal (Texto en general):
    font-family: var(--fuente-principal);

para roboto mediano (Subtitulos):
    font-family: 'Roboto';
    font-weight: 500;

para roboto negrita (Titulos):
    font-family: 'Roboto';
    font-weight: 700;
*/

/*--------------------------empieza N A V B A R -----------*/
.navbar{
    background-color: var(--verde-fuerte) !important;
    font-size: 20px;
}
.navbar-brand{
    margin-left: 20px;
}
.navbar-nav.mr-auto.right{
    margin-right: 20px !important;
}
/*--------------------------termina N A V B A R -----------*/
/*--------------------------empieza C O N T A C T O -----------*/
.container{
    border: solid 5px var(--verde-fuerte);
    border-radius: 50px;
    padding: 30px;
    width: 70%;

}
.superior, .inferior{
    display: flex;
    justify-content: space-around;

}
.contacto-user{
    width: 150px;
    height: 150px;
}
.usuario{
    text-align: center;
}
.usuario p{
    margin-bottom: 0;
}
.nombre{
    font-family: 'Roboto';
    font-weight: 700;
    margin-top: 10px;
}
.title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name{
    font-family: 'Roboto';
    font-weight: 700;
    margin-top: 10px;

}
/* se le da formato al nombre usuario */
.name h5 span{
    background: var(--verde-fuerte);
    color: #fff;
    border-radius: 20px;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    box-shadow: 0 0 6px 0 rgb(0,0,0, .5);
    margin-right: 7px;
    font-size: 10px;

}

.boton{
    width: 180px;
    height: 45px;
    background-color: var(--verde-fuerte);
    border-radius: 50px;
    color: white;
    font-size: 15px;
    display: block;
    text-align: center;
    padding: 10px 11px;
    margin: 0 auto;
}
.boton.fm{
    padding: 5px;
    height: 55px;
}
.boton.fm a{
    font-size: 18px;
}
.boton a{
    line-height: 23px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.botton{
    text-align: center; /* se centra el boton*/
}

/*--------------------------termina C O N T A C T O -----------*/
/*--------------------------empieza M E N S A J E S   A G R E S I V O S -----------*/
.container-mensajes{
    width: 900px;
    margin: auto;
}
.mensaje{
    display: flex;
}
.picture{
    margin-right: 10px;
}
/*.message{
    padding: 10px;
    margin: 10px 0;
    border: solid 3px var(--verde-fuerte);
    border-radius: 50px;
}*/
.circle{
    border: solid 2px var(--verde-fuerte);
    border-radius: 50px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.verde-oscuro span{
    color: #fff;
}
.inicial{
    font-size: 24px;
}
/*--------------------------termina M E N S A J E S   A G R E S I V O S -----------*/

/*--------------------------empieza CONTENIDO------------------*/
.contenido{
  width: 100vw;
  height: 90.5vh;
  border:0px solid;
  background: var(--verde-claro);
}

.contenido .izquierda{
  width: 30vw;
  height: 90.5vh;
  border: 4px solid;
  margin-left: 0px;
  float:left;
}

.izquierda h1{
  margin-top: 55px;
  font-family: 'Roboto';
  font-weight: 700;
  text-align: center;
}

.izquierda h4{
  font-family: 'Roboto';
  font-weight: 500;
  text-align: center;
}

.contenido .derecha{
  width: 69.9vw;
  height: 90.5vh;
  border: 1px solid;
  margin-right: 1px;
  float: right;
}

.img{
  width:69.9vw;
  height: 90.2vh;
  display: inline-block;
}
/*
.boton{
  padding: 4px 50px;
  background: var(--verde-fuerte);
  border-radius: 20px;
  border: 0;
  font-size: 30px;
  text-decoration: none;
}*/

/*-----------------empieza ELLECION DE USUARIOS------*/
/*
html, body{
  height: 100%;
}
*/
.contenedor{
  margin: 20px;
  padding: 0;
  border: 5px solid var(--verde-fuerte);
  border-radius: 13px;
  width: 80vw;
  height: 85vh;
  margin-left: auto;
  margin-right: auto;
}

.contenedor h3{
  font-family: 'Roboto';
  font-weight: 700;
  margin-left: 10%;
  margin-top: 12px;
}

.contenedor .c-izquierda{
  width: 15vw;
  height: 66vh;
  border: 0px solid;
  margin-left: 10%;
  float:left;
  margin-top: 10px;
}

.c-img{
  width: 15vw;
  height: 22vh;
  display: inline-block;
}

.contenedor .c-derecha{
  width: 50vw;
  height: 66vh;
  border: 0px solid;
  margin-right: 45px;
  float: right;
  margin-top: 10px;
}

.contenedor .c-derecha article h4{
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  color: var(--verde-fuerte);
}

.contenedor .c-derecha article p{
  font-family: var(--fuente-principal);
  font-size: 18px;
  color: var(--verde-fuerte);
}

.button{
  padding: 4px 30px;
  background: var(--verde-fuerte);
  text-decoration: none;
  border-radius: 10px;
}

/*--------------------------empieza C A R G A R / A R C H I V O-----------*/
.instru{
    border: solid 5px var(--verde-fuerte);
    border-radius: 15px 50px;
    padding: 30px;
    font-size:20px;
    text-align: justify;
    position:absolute;/*relative,fixed,absolute,sticky*/
    left:100px; /*left*/
    top:120px; /*bottom*/
    width:500px;/*anchura del elemto*/
    height:380px;/*altura del elemento*/ 
    background-color: #E8FFE6;
}
.archivo{
    border: solid 5px var(--verde-fuerte);
    border-radius: 15px 50px;
    padding: 30px;
    font-size:20px;
    text-align:justify;
    position:absolute;/*relative,fixed,absolute,sticky*/
    left:680px; /*left*/
    top:120px; /*bottom*/
    width:600px;/*anchura del elemto*/
    height:380px;/*altura del elemento*/ 
}
/*
.continuar{
    border-radius: 15px;
    width: 100px;
    height: 40px;
    background-color: #022422;
    text-align: center;
    color:white;
    left:250px;
    top:300px;
    position:absolute;
}
*/
/*--------------------------termina C A R G A R / A R C H I V O-----------*/

/*-------------------empieza BLOQUEA MENSAJES-------------------*/
.container-bloqueo{
    padding: 30px;
    margin: 15px 100px 15px 100px;
}

.foto-user{
    width: 60px;
    height: 60px;
    float: left;
}

.msj{
    padding-left: 110px;
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 10px 5px 5px 100px;
}

.button-noAgresivo{
    padding-top: 30px;
    align-items: center;
    justify-content: center
}

.button-bloquea{
    width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 60px;
    color: #fff;
    background-color: #022422;
    border-color: #022422;
    font-size: 30px;
    text-align: center;
}
/*-------------------termina BLOQUEA MENSAJES-------------------*/
.main{
    margin-top: 30px;
    margin-bottom: 50px;
}

/*---------------PLANTILLA DE REPORTE*/
.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
#logo_gu{
    display: flex;
    justify-content: end;
}
#logo_uam img{
    width: 60%;
}
#logo_gu img{
    width: 60%;
}
.template_report{
    margin: auto;
    width: 70%;
    height: 70%;
}
.reporte-cont{
    margin: auto;
    padding: 20px;
    padding-bottom: 0;
    width: 70%;
    height: 100%;
    border: #ff8000 2px solid;
    border-radius: 30px;
}
/*---------------------------------reporte gv*/
.cabeceras{
    font-weight: 500;
}
.container-mensajes.reporte{
    padding: 20px;
    border: #022422 solid 2px;
    border-radius: 30px;
}
/*************************************resultados filtros******/
.checkbox{
    width: 30%;
    border: #022422 solid 3px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 30px;
}
input[type=checkbox]
{
  transform: scale(1.5);
}
.resultados-filtros{
    width: 70%;margin: auto;
    display: flex;
    justify-content: space-around;
}
.result{
    min-width: 500px;
    border: #022422 solid 3px;
}
.result{
    margin-right: 30px;
    padding: 30px;
    border-radius: 30px;
}