/*importando fuente roboto de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/*variables para diseño*/
:root{
    --verde-fuerte: #022422;
    --verde-claro: #E8FFE6;
    --blanco: #fff;
    --fuente-principal: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);    
}
/*
para roboto normal (Texto en general):
    font-family: var(--fuente-principal);

para roboto mediano (Subtitulos):
    font-family: 'Roboto';
    font-weight: 500;

para roboto negrita (Titulos):
    font-family: 'Roboto';
    font-weight: 700;
*/

/*--------------------------empieza N A V B A R -----------*/
.navbar{
    background-color: var(--verde-fuerte) !important;
    font-size: 20px;
}
.navbar-brand{
    margin-left: 20px;
}
.navbar-nav.mr-auto.right{
    margin-right: 20px !important;
}
/*--------------------------termina N A V B A R -----------*/

/*--------------------------empieza C O N T A C T O -----------*/
.container{
    border: solid 5px var(--verde-fuerte);
    border-radius: 50px;
    padding: 30px;
    width: 70%;
}
.superior, .inferior{
    display: flex;
    justify-content: space-around;
}
.contacto-user{
    width: 150px;
    height: 150px;
}
.usuario{
    text-align: center;
}
.usuario p{
    margin-bottom: 0;
}
.nombre{
    font-family: 'Roboto';
    font-weight: 700;
    margin-top: 10px;
}
.title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*--------------------------termina C O N T A C T O -----------*/


/*-------------------empieza BLOQUEA MENSAJES-------------------*/
.container-bloqueo{
    padding: 30px;
    margin: 15px 100px 15px 100px;
}

.foto-user{
    width: 60px;
    height: 60px;
    float: left;
}

.msj{
    padding-left: 110px;
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 10px 5px 5px 100px;
}

.button-noAgresivo{
    padding-top: 30px;
    align-items: center;
    justify-content: center
}

.button-bloquea{
    width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 60px;
    color: #fff;
    background-color: #022422;
    border-color: #022422;
    font-size: 30px;
    text-align: center;
}
/*-------------------termina BLOQUEA MENSAJES-------------------*/
