<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <title>Contacto</title>
</head>
<body>
    <!--Empieza barra de navegación (navbar)-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="eleccion">Analizar <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <ul class="navbar-nav mr-auto right">
                <li class="nav-item active">
                  <a class="nav-link" href="acerca">Acerca <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="contacto">Contacto <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <!--Termina barra de navegación (navbar)-->
    <!--Empieza seccion de contacto-->
    <main class="contacto">
        <h2 class="title">Acerca de</h2>
        <!--container es la caja general-->
        <div class="container">
            <!--superior es la caja que guarda los users de arriba-->
            
            <!--inferior es la caja que tiene los users de abajo-->
            <div class="inferior">
                <div class="usuario">
                    <figure>
                        <img class="logos" src="{{ url_for('static', filename='media/logo_uam.png') }}" alt="imagen de usuario">
                        </figure>
                </div>
                <div class="usuario">
                    <figure>
                        <img class="logos" src="{{ url_for('static', filename='media/logo_gu.png') }}" alt="imagen de usuario">
                        </figure>
                </div>
    
            </div>
            <p class="title"><strong>Moderador</strong> es un sistema web quesirva como monitor de comentarios agresivosen conversaciones que se dan en entornos virtuales.
            Puedes subir una conversacion en formato JSON y te daremos una simulación de chat, te mostraremos los mensajes agresivos y en caso de que lo requieras, te 
            daremos un reporte en formato PDF para comprobar las agresiones.
            </p>
        </div>
    </main>
    <!--Termina seccion de contacto-->
</body>
</html>