<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <title>Contacto</title>
</head>
<body>
    <!--Empieza barra de navegación (navbar)-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="eleccion">Analizar <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <ul class="navbar-nav mr-auto right">
                <li class="nav-item active">
                  <a class="nav-link" href="acerca">Acerca <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="contacto">Contacto <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <!--Termina barra de navegación (navbar)-->
    <!--Empieza seccion de contacto-->
    <main class="contacto">
        <h2 class="title">Contacto</h2>
        <!--container es la caja general-->
        <div class="container">
            <!--superior es la caja que guarda los users de arriba-->
            <div class="superior">
                <!--caja que lleva la imagen, nombre y correo-->
                <div class="usuario">
                    <figure>
                        <img class="contacto-user" src="{{ url_for('static', filename='media/usuario.png') }}" alt="imagen de usuario">
                        <p class="nombre">Nadia</p>
                        <p class="correo">2183033705@cua.uam.mx</p>
                    </figure>
                </div>
                <div class="usuario">
                    <figure>
                        <img class="contacto-user" src="{{ url_for('static', filename='media/usuario.png') }}" alt="imagen de usuario">
                        <p class="nombre">Melissa</p>
                        <p class="correo">2183076611@cua.uam.mx</p>
                    </figure>
                </div>
                <div class="usuario">
                    <figure>
                        <img class="contacto-user" src="{{ url_for('static', filename='media/usuario.png') }}" alt="imagen de usuario">
                        <p class="nombre">Yahir</p>
                        <p class="correo">2183033830@cua.uam.mx</p>
                    </figure>
                </div>
            </div>
            <!--inferior es la caja que tiene los users de abajo-->
            <div class="inferior">
                <div class="usuario">
                    <figure>
                        <img class="contacto-user" src="{{ url_for('static', filename='media/usuario.png') }}" alt="imagen de usuario">
                        <p class="nombre">Vivian</p>
                        <p class="correo">2183077449@cua.uam.mx</p>
                    </figure>
                </div>
                <div class="usuario">
                    <figure>
                        <img class="contacto-user" src="{{ url_for('static', filename='media/usuario.png') }}" alt="imagen de usuario">
                        <p class="nombre">Tania</p>
                        <p class="correo">2183033769@cua.uam.mx</p>
                    </figure>
                </div>
            </div>
        </div>
    </main>
    <!--Termina seccion de contacto-->
</body>
</html>