<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
  <title>Index</title>
</head>
<body>
  <!--Empieza barra de navegación (navbar)-->
  <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Inicio</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Analizar <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <ul class="navbar-nav mr-auto right">
              <li class="nav-item active">
                <a class="nav-link" href="#">Acerca <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Contacto <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </nav>
  </header>
  <!--Termina barra de navegación (navbar)-->
  <!--Empieza el contenido para la elección de usuarios-->
    <div class="contenedor">
      <h3>Elige el modo para iniciar:</h3>
      <div class="c-izquierda">
        <div class="imagenes">
          <img class="c-img" src="{{url_for('static', filename='media/imagen_usuario_redes_sociales.jpg')}}" alt="imagen rs">
          <br>
          <img class="c-img" src="{{url_for('static', filename='media/imagen-grupo-vulnerable.jpg')}}" alt="imagen gv">
          <br>
          <img class="c-img" src="{{url_for('static', filename='media/imagen-academico.jpg')}}" alt="imagen academico">
        </div>
      </div>

      <div class="c-derecha">
        <article>
          <h5>Participante de redes sociales</h5>
          <p>Puedes simular un chat para identificar y/o bloquear mensajes agresivos<br>
          y usuarios agresivos</p>
          <a href="cargar-rs" style="text-decoration:none;color:var(--blanco)" class="button">Iniciar</a>
        </article>
        <br>

        <article>
          <h5>Participantes de grupo vulnerable</h5>
          <p>Puedes identificary/o bloquear mensajes agresivos para generar un reporte<br>
            sobre evidencia de agresiones</p>
          <a href="cargar-gv" style="text-decoration:none;color:var(--blanco)" class="button">Iniciar</a>
        </article>
        <br>

        <article>
          <h5>Académico</h5>
          <p>Puedes analizar comportamientos agresivos en conversaciones con la<br>
          ayuda de un análisis de agresividad hecho por el sistema</p>
          <a href="cargar-ac" style="text-decoration:none;color:var(--blanco)" class="button">Iniciar</a>
        </article>

      </div>
    </div>



</body>
</html>
