<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <title>Filtro de mensajes agresivos</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="eleccion">Analizar <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <ul class="navbar-nav mr-auto right">
                <li class="nav-item active">
                  <a class="nav-link" href="acerca">Acerca <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('contacto')}}">Contacto <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <main>
        <h2 class="title">Mensajes</h2>
            <div class="container-mensajes"> 
              {%for e in resModulo1:%}
                {%for elem in e[0]%}
                    <div class="mensaje">
                      <figure class="picture">
                        {% if e[1].index(elem['from']) % 2 == 0 %}
                          <div class="circle verde-oscuro" style="background-color: #022422;">
                        {% else %}
                          <div class="circle verde-claro" style="background-color: #E8FFE6;">
                          
                        {% endif %}
                            <span class="inicial">{{elem['from'][0]}}</span>
                          </div>
                      </figure>
                      <div class="message-body">
                        <div class="user">{{elem['from']}}</div>
                        <div class="message">{{elem['text']}}</div>
                      </div>
                    </div>
                {%endfor%}
              {%endfor%}
              
                
            </div>
            <div class="boton fm"><a href="bloqueaMsj">Bloquear mensajes agresivos</a></div>

    </main>
</body>
</html>