<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Reporte</title>
</head>
<body>
    <main class="template_report">
        <div class="logos">
            <figure id="logo_uam">
                <img src="/static/media/logo_uam.png" alt="uam_logotipo">
            </figure>
            <figure id="logo_gu">
                <img src="/static/media/logo_gu.png" alt="">
            </figure>
        </div>
        <div class="reporte-cont">
            
            <h2 class="title">Reporte de agresiones</h2>
            <div class="container-mensajes">
                <h4>Usuarios con mensajes agresivos:</h4> <br>
                {%for e in datos:%}
                  
                    
                    <span class="cabeceras">Usuario:</span> {{e.nombre}}<br>
                    <span class="cabeceras">ID:</span> {{e.id}}</span><br>
                    <span class="cabeceras">Cantidad de mensajes totales:</span> {{e.totalmsj}}</span><br>
                    <span class="cabeceras">Cantidad de mensajes agresivos:</span> {{e.cantidad}}</span><br>
                    <span class="cabeceras">Mensajes:</span><br>
                      {%for r in mensajes[0]:%}
                        {%if r['from'] == e.nombre%}
                          <span> - {{r['text']}}</span><br>
                        {%endif%}
                      {%endfor%}
                      <br>
                    
                {%endfor%}
            </div>
            <a href="/descargar">Generar PDF</a>
        </div>
    </main>
    </body>
</html>