<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <title>Reporte de agresión</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="eleccion">Analizar <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <ul class="navbar-nav mr-auto right">
                <li class="nav-item active">
                  <a class="nav-link" href="acerca">Acerca <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('contacto')}}">Contacto <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <main>
        <h2 class="title">Reporte de agresiones</h2>
            <div class="container-mensajes">
                <h4>Usuarios con mensajes agresivos:</h4> 
                {%for e in datos:%}
                  
                    {%for elem in e[4]:%}
                    <div class="user">

                      <span class="cabeceras"> Usuario: </span><span>{{elem.nombre}}</span><br>
                      <span class="cabeceras">ID: </span>{{elem.id}}</span><br>
                      <span class="cabeceras">Cantidad de mensajes totales: </span>{{elem.totalmsj}}</span><br>
                      <span class="cabeceras">Cantidad de mensajes agresivos: {{elem.cantidad}}</span><br>
                      <span class="cabeceras">Mensajes:</span><br>
                      {%for r in e[0]:%}
                      {%if r['from'] == elem.nombre%}
                      <span> - {{r['text']}}</span><br>
                      {%endif%}
                      {%endfor%}
                    </div>
                      <br>
                    {%endfor%}
                  
                {%endfor%}
            </div>
            <div class="boton fm"><a href="reporte-dw">Generar PDF</a></div>

    </main>
</body>
</html>